body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 4rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.creative {
  color: midnightblue;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 30px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.creative {
  color: midnightblue;
}



@media (max-width: 680px) {

  .logo {
    width: 20%;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    margin-bottom: 30px;
    clear: left;
    /* display: block; */
    /* text-align: justify; */
  }
  
  .tile-image {
    width: 100%;
    clear: left;
    /* display: inline; */
    margin-bottom: 10px;
    /* object-fit: cover;  */
  }
  

}